body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-poster {
  width: 200px;
  height: 300px;
  margin: .5rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: center;
}

.movie-modal {
  width: 90vw;
  height: 90vh;
  background-color: red;
  position: fixed;
  left: 5vw;
  right: 5vw;
  top: 5vh;
  bottom: 5vh;
  overflow: scroll;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-around;
}

.modal-content-container {
  z-index: 1;
}

.actor-card-content {
  margin: .5rem;
}

.actor-card-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.actor-card-profile-container {
  width: 10rem;
  height: 15rem;
}

.actor-card-profile {
  width: 100%;
  height: 100%;
}
