body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-poster {
  width: 200px;
  height: 300px;
  margin: .5rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  justify-content: center;
}

.movie-modal {
  width: 90vw;
  height: 90vh;
  position: fixed;
  left: 5vw;
  right: 5vw;
  top: 5vh;
  bottom: 5vh;
  overflow: scroll;
  background-color: black;
  color: white;
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-around;
}

.modal-content-container {
  z-index: 1;
  color: white;
}

.actor-card-content {
  margin: .5rem;
  font-size: .8rem;
}

.actor-card-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.actor-card-profile-container {
  width: 5rem;
  height: 7.5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-modal-content-container {
  padding: 1rem;
}

.actor-card-profile {
  width: 100%;
}

.movie-details-container {
  width: 95%;
  margin: .5rem 0;
}

.movie-modal-top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.movie-modal-youtube-container {
  width: 50%;
}

.movie-modal-image-header {
  width: 100%;
}

.movie-title {
  font-size: 3rem;
}

.actor-name {
  font-weight: 700;
}

.crew-text-container {
  text-align: center;
}
